header {
    background-color: #333333;
    font-family: 'Roboto', sans-serif;
}

.buttonHead {
    float: right;
    color: #7FFFD4;
    font-size: 25px;
    background-color: transparent;
    margin-right: 5px;
    border: none;
    cursor:
     pointer;
}

.title{
    float: center;
    text-align: center;
    color: #ffffff;
    font-size: 20px;
    margin-top: 5px;
    margin-left:  30px;
    padding-top: 7px;
    padding-bottom: 7px;
}

.menuHead {
    display: none;
    margin-left:  30px;
    margin-right: 30px;
    text-align: center;
    color: #ffffff;
    padding: 10px;

    
    
}
.menuHead:hover {
	color: #7FFFD4;
    border-bottom: 1px solid #0cccac;
    background-color: #0e0800;
}

