/*package: org.silvioantunes.styleSheet.head*/
#title_Head {
    color: #ffffff;
    font-size: 16px;
	font-weight: bolder;
    text-align: center; /* Centraliza o texto */
    flex-grow: 1; /* Faz o título ocupar o espaço disponível */
    margin: 0; /* Remove margens padrão do H1 */
    /* Adiciona padding para evitar que o texto fique sob o botão absoluto */
    /* Ajuste o valor (60px) conforme o tamanho/padding do seu botão */
   	padding-left: 35px;
    padding-right: 35px;
    padding-top: 5px;
    box-sizing: border-box; /* Garante que padding não aumente o tamanho total */
}


/* Celulares grandes - maiores que 275px */
@media (min-width: 276px) {
	#title_Head {
		font-size: 20px;
        padding-left: 40px;
        padding-right: 40px;
	}
}

/* Tablets pequenos - mairoes que 481px */
@media (min-width: 481px) {
	#title_Head {
		font-size: 26px;
        padding-left: 45px;
        padding-right: 45px;
	}
}

/* Tablets - maiores que 769px */
@media (min-width: 769px) {
	#title_Head {
		font-size: 30px;
        padding-left: 50px;
        padding-right: 50px;
        padding-top: 0px;
	}
}

/* Notebooks pequenos - maiores que 993px */
@media (min-width: 993px) {
	#title_Head {
		font-size: 34px;
        padding-left: 55px;
        padding-right: 55px;
        padding-top: 0px;
	}
}

/* Notebooks / DESKTOP - maiores 1201px */
@media (min-width: 1201px) {
	#title_Head {
		font-size: 38px;
        padding-left: 60px;
        padding-right: 60px;
        padding-top: 0px;
	}
}
