/*package: org.silvioantunes.styleSheet.nav*/
nav {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    position: fixed;
    top: 0;
    width: 100%; /* Ocupa x% da largura da tela */
    right: -100%; /* Começa x% fora da tela para a direita */
    height: 100%;
    background-color: #333333;
    transition: right 0.5s ease-in-out; /*tempo do menu rolar na tela para esquerda*/
    z-index: 1000;
    padding: 20px;
    box-sizing: border-box;
    padding-top: 70px; /* Espaço para o botão fechar */
    overflow-y: auto; /* Adiciona scroll se o conteúdo for maior que a altura */
}

nav a {
	text-decoration: none;
}

/* Estado Ativo do Menu */
nav:target {
    right: 0; /* Move o menu para a tela */
}

/* Itens do menu Nav */
.lista_Nav {
    display: block;
    padding: 15px 0;
    color: #ffffff;
    border-bottom: 1px solid transparent;
    transition: color 0.2s, background-color 0.2s, border-bottom 0.2s;
    text-align: center;
}
/*Efeito do Menu com o cursor*/
.lista_Nav:hover {
    color: #7FFFD4;
    border-bottom: 1px solid #0cccac;
    background-color: #0e0800;
}


/* Celulares grandes - maiores a 276px */
@media (min-width: 276px) {
	nav {
		font-size: 20px;
		width: 80%; /* Ocupa x% da largura da tela */
		right: -80%; /* Começa x% fora da tela para a direita */
	}
}

/* Tablets pequenos - maiores a 481px */
@media (min-width: 481px) {
	nav {
		font-size: 22px;
		width: 45%; /* Ocupa x% da largura da tela */
		right: -45%; /* Começa x% fora da tela para a direita */
	}
}

/* Tablets - maiores que  769px */
@media (min-width: 769px) {
	nav {
		font-size: 26px;
		width: 45%; /* Ocupa x% da largura da tela */
		right: -45%; /* Começa x% fora da tela para a direita */
	}
}

/* Notebooks pequenos - maiores que 993px */
@media (min-width: 993px) {
	nav {
		font-size: 30px;
		width: 40%; /* Ocupa x% da largura da tela */
		right: -40%; /* Começa x% fora da tela para a direita */
	}
}

/* Notebooks / Desktop - maiores que 1201px */
@media (min-width: 1201px) {
	nav {
		font-size: 34px;
		width: 40%; /* Ocupa x% da largura da tela */
		right: -40%; /* Começa x% fora da tela para a direita */
	}
}
