/*package: org.silvioantunes.styleSheet.body*/
body {
    margin: 0;
    padding-top: 60px; /* Espaço para o header fixo */
    font-size: 12px;

}

/* CELULAR PEQUENO - até 375px */
@media (max-width: 375px) {
	body {
		font-size: 12px;
	}
}

/* CELULAR MÉDIO - até 480px */
@media (max-width: 480px) {
	body {
		font-size: 14px;
	}
}

/* CELULAR GRANDE / TABLET PORTAIT - até 768px */
@media (max-width: 768px) {
	body {
		font-size: 16px;
	}
}

/* TABLET LANDSCAPE - até 992px */
@media (max-width: 992px) {
	body {
		font-size: 18px;
	}
}

/* NOTEBOOK / DESKTOP PEQUENO - até 1200px */
@media (max-width: 1200px) {
	body {
		font-size: 20px;
	}
}

/* DESKTOP GRANDE - acima de 1200px */
@media (min-width: 1201px) {
	body {
		font-size: 22px;
	}
}
