/*package: org.silvioantunes.styleSheet.head*/
header {
    font-family: 'Roboto', sans-serif;
    background-color: #333333;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px; /* Altura definida */
    z-index: 999;
    display: flex; /* Usar flexbox para alinhamento vertical */
    align-items: center; /* Centraliza itens verticalmente */
    padding: 0 15px; /* Espaçamento nas laterais */
    box-sizing: border-box;
    /* position: relative; não é necessário pois fixed já estabelece contexto */
}
header a {
	text-decoration: none;
}
