/*package: org.silvioantunes.styleSheet.head*/
#title_Head {
    color: #ffffff;
    font-size: 16px;
	font-weight: bolder;
    text-align: center; /* Centraliza o texto */
    flex-grow: 1; /* Faz o título ocupar o espaço disponível */
    margin: 0; /* Remove margens padrão do H1 */
    /* Adiciona padding para evitar que o texto fique sob o botão absoluto */
    /* Ajuste o valor (60px) conforme o tamanho/padding do seu botão */
   	padding-left: 35px;
    padding-right: 35px;
    box-sizing: border-box; /* Garante que padding não aumente o tamanho total */
}


/* CELULAR PEQUENO - até 375px */
@media (max-width: 375px) {
	#title_Head {
		font-size: 16px;
        padding-left: 35px;
        padding-right: 35px;
	}
}

/* CELULAR MÉDIO - até 480px */
@media (max-width: 480px) {
	#title_Head {
		font-size: 20px;
        padding-left: 40px;
        padding-right: 40px;
	}
}

/* CELULAR GRANDE / TABLET PORTAIT - até 768px */
@media (max-width: 768px) {
	#title_Head {
		font-size: 26px;
        padding-left: 45px;
        padding-right: 45px;
	}
}

/* TABLET LANDSCAPE - até 992px */
@media (max-width: 992px) {
	#title_Head {
		font-size: 28px;
        padding-left: 50px;
        padding-right: 50px;
	}
}

/* NOTEBOOK / DESKTOP PEQUENO - até 1200px */
@media (max-width: 1200px) {
	#title_Head {
		font-size: 32px;
        padding-left: 55px;
        padding-right: 55px;
	}
}

/* DESKTOP GRANDE - acima de 1200px */
@media (min-width: 1201px) {
	#title_Head {
		font-size: 36px;
		padding-left: 60px;
    	padding-right: 60px;
	}
}
